@import "tailwindcss";

/* styles/globals.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.page-container {
    width: 100%;
    max-width: 1200px;
    /* You can adjust this to the width you want */
    margin: 0 auto;
    /* Centers the container */
    padding: 20px;
    /* Add padding to the entire page */
}